@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "iCiel Gotham", "Gotham", "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-truepal-blue: #0a3c5d;
  --color-truepal-blue-dark: #072a41;
  --color-truepal-green: #00af4c;
  --color-truepal-green-dark: #008c3d;
}
